*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  align-items: center;
}


.wrapper{
  margin: 250px auto auto;
  display: flex;
  width:660px;
  height: 400px;
  box-shadow: 5px 2px 3px gray;
  border-radius: 38px;
  border: 2px solid teal;
  justify-content: center;
  align-items: center;
}

.lowerCaseLetters{
  position: absolute;
  bottom: 420px;
  left:693px;
}

.symbols{
  position: absolute;
  bottom: 420px;
  left:714px;
}


